@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: rgba(242, 255, 237, 0.72);
    --foreground: #171717;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: "sans-serif";

}
